*.log
*bunda*
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
target
bin
build
.factorypath
.project
.classpath
MANIFEST.MF
ejb-jar.xml
*.orig
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
gen
.jsdtscope
checkpointFastreleaseVeLAB
laudo-*.pdf
dynmodules
hotswap-agent.properties
.gitignore~

# Jrebel
rebel.xml

# Sublime
/sublime-project

# Idea IntelliJ
.idea
*.iml
overlays/


id_file

db*
